* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* considera toda a tela */
  font-family: "Inter", sans-serif;
}
:root {
  --brandcolor: #ffbd48;
  --dark10: #2e2e2e;
  --dark20: #fefbf4;
  --dark30: #fff;
}
.container {
  width: 100%; /* todo o espço da tela */
  height: 37.5rem; /* 1 rem = 600px --- ou dar alt + z */
  background: url("./assets/la-pizza/image-1.png") center/cover no-repeat; /* centro da tela - cobrir toda a div - não repetir a imagem */
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 37.25rem;
  height: 24.625rem;
}
.products-containers {
  background: url("./assets/la-pizza/bg.png") center/cover no-repeat;
  min-height: 46.625rem;

  display: flex;
  align-items: center;

  flex-direction: column;
}
.title {
  padding-top: 9rem;
  padding-bottom: 3.125rem;

  font-size: 2.5rem;
  font-weight: 600;
}
.product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2.4375rem;
}
.about {
  width: 100%;
  max-width: 76rem;

  display: flex;
  align-items: center;
  margin: 4rem auto;
  gap: 8.5rem;
}
.about img {
  width: 30.5rem;
  height: 31.25rem;
}
.description {
  width: 100%;
  max-width: 37rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.d-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--dark10);
}
@media screen and (max-width: 30rem) {
  .container {
    height: 18.75rem;
  }
  .logo {
    width: 13.5rem;
    height: 8.9375rem;
  }
  .title {
    padding-top: 3rem;
  }
  .product {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4 1fr);
    grid-row-gap: 5.1875rem;
  }
  .about {
    flex-direction: column;
  }
  .about img {
    width: 20.4375rem;
    height: 25rem;
  }
  .description {
    width: 20.4375rem;
  }
}

@media screen and (min-width: 48rem) {
  .container {
    height: 25rem;
  }
  .logo {
    width: 18.75rem;
    height: 12.4131rem;
  }
  .title {
    padding-top: 4rem;
  }
  .product {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 6.75rem;
  }
  .about {
    flex-direction: column;
  }
  .about img {
    width: 44rem;
    height: 25rem;
  }
  .descrition {
    width: 44rem;
  }
}
